.modal {
  position: absolute;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.2s, transform 0.2s;
}
.modal.show {
    opacity: 1;
    transform: scale(1);
}
.weather {
  width: 700px;
  height: 700px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__time {
    font-size: 64px;
  }
  &__date-today {
    font-size: 22px;
  }
  &__town {
    font-size: 32px;
  }

  &__bot {
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 200px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__now {
    font-size: 48px;
  }
}

.close {
  cursor: pointer;
  &__image {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.--Rain {
  background-image: url('./image/rain.jpg');
}
.--Clouds {
  background-image: url('./image/clouds.jpg');
}
.--Snow {
  background-image: url('./image/snow.jpg');
}
.--Thunderstorm {
  background-image: url('./image/thunderstorm.jpg');
}
.--Drizzle {
  background-image: url('./image/drizzle.jpg');
}
.--Mist {
  background-image: url('./image/mist.jpg');
}
.--Smoke {
  background-image: url('./image/smoke.jpg');
}
.--Haze {
  background-image: url('./image/haze.jpg');
}
.--Dust {
  background-image: url('./image/dust.jpg');
}
.--Fog {
  background-image: url('./image/fog.jpg');
}
.--Sand {
  background-image: url('./image/sand.jpg');
}
.--Ash {
  background-image: url('./image/ash.jpg');
}
.--Squall {
  background-image: url('./image/squall.jpg');
}
.--Tornado {
  background-image: url('./image/tornado.jpg');
}
.--Clear {
  background-image: url('./image/clear.jpg');
}